# serverless.yml (수정된 경로)

service: my-serverless-api
frameworkVersion: '3'

plugins:
  - serverless-dotenv-plugin
  - serverless-esbuild
  - serverless-offline

provider:
  name: aws
  runtime: nodejs20.x
  region: ap-northeast-2
  apiGateway:
    minimumCompressionSize: 1024
    shouldStartNameWithService: true
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - s3:GetObject
          Resource: "arn:aws:s3:::i18n-automation/nana1243/react-typescript/v1.0.1/generated_*.json"

# functions 파일 경로 수정
functions: ${file(./configs/functions.yaml)} # <--- src/ 제거!

package:
  individually: true

custom:
  dotenv:
    logging: true
  esbuild:
    bundle: true
    minify: false
    sourcemap: true
    exclude: ['aws-sdk']
    target: 'node20'
    define: { 'require.resolve': 'undefined' }
    platform: 'node'
    concurrency: 10
    format: 'cjs'


#resources: ${file(./configs/resources.yaml)}