# serverless.yml (수정된 경로)

service: my-serverless-api
frameworkVersion: '3'

plugins:
  - serverless-dotenv-plugin
  - serverless-esbuild
  - serverless-offline

provider:
  name: aws
  runtime: nodejs20.x
  region: ap-northeast-2
  apiGateway:
    minimumCompressionSize: 1024
    shouldStartNameWithService: true
  environment:
    USER_TABLE_NAME: ${self:custom.userTableName}
    CHAT_ROOM_TABLE_NAME: ${self:custom.chatRoomTableName}
    CHAT_MESSAGE_TABLE_NAME: ${self:custom.chatMessageTableName}

# functions 파일 경로 수정
functions: ${file(./configs/functions.yaml)} # <--- src/ 제거!

package:
  individually: true

custom:
  userTableName: User
  chatRoomTableName: Chats
  chatMessageTableName: ChatMessages

  dotenv:
    logging: true

  esbuild:
    bundle: true
    minify: false
    sourcemap: true
    exclude: [ 'aws-sdk' ]
    target: 'node20'
    define: { 'require.resolve': 'undefined' }
    platform: 'node'
    concurrency: 10
    format: 'cjs'



resources: ${file(./configs/resources.yaml)}